# =====================
#  Python / FastAPI
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
venv/
env/
backend/.env
.env
*.env

# Logs
logs/
backend/logs/
*.log

# Archivos subidos (uploads)
backend/app/uploads/

# =====================
#  Node / Angular
# =====================
node_modules/
dist/
.angular/
*.log

# =====================
#  Docker
# =====================
db_data/
docker/mysql/
*.pid

# =====================
#  Sistema / IDE
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
#  Otros
# =====================
*.bak
*.tmp
