<div class="user-edit-container">
  <h2>Editar Usuario</h2>
  <form (ngSubmit)="updateUser()">
    <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="user.username" name="username" required>
  </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" type="email" required>
  </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Nueva Contraseña</mat-label>
      <input matInput [(ngModel)]="newPassword" name="newPassword" type="password">
  </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Actualizar</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
  </div>
  </form>
</div>

